<!DOCTYPE html>
<head>
  <title>OpenAI Tidbits</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='note.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='note.png') }}" class="icon" />
  <h3>Tidbits</h3>
  <form action="/" method="post">
    <input type="text" name="topic" placeholder="Enter a topic" required />
    <input type="submit" value="Generate tidbit" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
  <footer>
    <a target="_blank" href="https://icons8.com/icon/HMsBfDjnfUCy/note">Note</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  </footer>
  </body>
